<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>For All </title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- bootstrap css -->
      <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
      <!-- style css -->
      <link rel="stylesheet" type="text/css" href="css/style.css">
      <!-- Responsive-->
      <link rel="stylesheet" href="css/responsive.css">
      <!-- fevicon -->
      <link rel="icon" href="images/fevicon.png" type="image/gif" />
      <!-- Scrollbar Custom CSS -->
      <link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css">
      <!-- Tweaks for older IEs-->
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
      <!-- fonts -->
      <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
      <!-- font awesome -->
      <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
      <!--  -->
      <!-- owl stylesheets -->
      <link href="https://fonts.googleapis.com/css?family=Great+Vibes|Poppins:400,700&display=swap&subset=latin-ext" rel="stylesheet">
      <link rel="stylesheet" href="css/owl.carousel.min.css">
      <link rel="stylesoeet" href="css/owl.theme.default.min.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
   </head>
   <body>
      <!-- banner bg main start -->
      <div class="banner_bg_main">
         <!-- header top section start -->
         <div class="container">
            <div class="header_section_top">
               <div class="row">
                  <div class="col-sm-12">
                     <div class="custom_menu">
                        <ul>
                           <li><a href="#">Best Sellers</a></li>
                           <li><a href="#">Gift Ideas</a></li>
                           <li><a href="#">New Releases</a></li>
                           <li><a href="#">Today's Deals</a></li>
                           <li><a href="#">Customer Service</a></li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- header top section start -->
         <!-- logo section start -->
         <div class="logo_section">
            <div class="container">
               <div class="row">
                  <div class="col-sm-12">
                     <div class="logo"><a href="index.html"><img src="images/fa.png" style="width: 40%; margin-top: -80px; float: left; margin-left: -30px;"></a></div>
                  </div>
               </div>
            </div>
         </div>
         <!-- logo section end -->
         <!-- header section start -->
         <div class="header_section">
            <div class="container">
               <div class="containt_main">
                  <div id="mySidenav" class="sidenav">
                     <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                     <a href="index.html">Home</a>
                     <a href="mode.html">Mode & Beauté</a>
                     <a href="chaussure.html">Chaussures</a>
                     <a href="materiel.html">Matériels Sport</a>
                  </div>
                  <span class="toggle_icon" onclick="openNav()"><img src="images/toggle-icon.png"></span>
                  <div class="dropdown">
                     <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Toutes Catégories 
                     </button>
                     <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                     </div>
                  </div>
                  <div class="main">
                     <!-- Another variation with a button -->
                     <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search this blog">
                        <div class="input-group-append">
                           <button class="btn btn-secondary" type="button" style="background-color: #f26522; border-color:#f26522 ">
                           <i class="fa fa-search"></i>
                           </button>
                        </div>
                     </div>
                  </div>
                  <div class="header_box">
                     <div class="lang_box ">
                        <a href="#" title="Language" class="nav-link" data-toggle="dropdown" aria-expanded="true">
                        <img src="images/flag-france.png" alt="flag" class="mr-2 " title="United Kingdom"> Français <i class="fa fa-angle-down ml-2" aria-hidden="true"></i>
                        </a>
                        <div class="dropdown-menu ">
                           <a href="#" class="dropdown-item">
                           <img src="images/flag-uk.png" class="mr-2" alt="flag">
                           Anglais
                           </a>
                        </div>
                     </div>
                     <div class="login_menu">
                        <ul>
                           <li><a href="#">
                              <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                              <span class="padding_10">Panier</span></a>
                           </li>
                           <li><a href="http://localhost:3000/connect">
                              <i class="fa fa-user" aria-hidden="true"></i>
                              <span class="padding_10">Connexion</span></a>
                           </li>
                           <li><a href="http://localhost:3000/ins">
                              <i class="fa fa-inscription" aria-hidden="true"></i>
                              <span class="padding_10">inscription</span></a>
                           </li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- header section end -->
         <!-- banner section start -->
         <div class="banner_section layout_padding">
            <div class="container">
               <div id="my_slider" class="carousel slide" data-ride="carousel">
                  <div class="carousel-inner">
                     <div class="carousel-item active">
                        <div class="row">
                           <div class="col-sm-12">
                              <h1 class="banner_taital" id="welcomeTitle">Get Start <br>Your favriot shoping</h1>
                              <div class="buynow_bt"><a href="#">Acheter Maintenant</a></div>
                           </div>
                        </div>
                     </div>
                    
                  <a class="carousel-control-prev" href="#my_slider" role="button" data-slide="prev">
                  <i class="fa fa-angle-left"></i>
                  </a>
                  <a class="carousel-control-next" href="#my_slider" role="button" data-slide="next">
                  <i class="fa fa-angle-right"></i>
                  </a>
               </div>
            </div>
         </div>
         <!-- banner section end -->
      </div>
      <!-- banner bg main end -->
      <!-- fashion section start -->
      <div class="fashion_section">
         <div id="main_slider" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
               <div class="carousel-item active">
                  <div class="container">
                     <h1 class="fashion_taital">Mode & Beauté</h1>
                     <div class="fashion_section_2">
                        <div class="row">
                           <div class="col-lg-4 col-sm-4">
                              <div class="box_main">
                                 <h4 class="shirt_text">Fashion Montre à Quartz Fashion-Bleu</h4>
                                 <p class="price_text">Prix : <span style="color: #262626;">4 202 CFA</span></p>
                                 <div class="electronic_img"><img src="https://sn.jumia.is/unsafe/fit-in/300x300/filters:fill(white)/product/19/47979/1.jpg?3313
                                    "></div>
                                 <div class="btn_main">
                                    <div class="buy_bt"><a href="#">Acheter Maintenant</a></div>
                                    <div class="seemore_bt"><a href="#">Voir Plus</a></div>
                                 </div>
                              </div>
                           </div>
                           <div class="col-lg-4 col-sm-4">
                              <div class="box_main">
                                 <h4 class="shirt_text">Fashion Sac à Main Universel por filles</h4>
                                 <p class="price_text">Prix : <span style="color: #262626;">4 950 CFA</span></p>
                                 <div class="electronic_img"><img src=" https://sn.jumia.is/unsafe/fit-in/300x300/filters:fill(white)/product/61/569301/1.jpg?5131                                    "></div>
                                 <div class="btn_main">
                                    <div class="buy_bt"><a href="#">Acheter Maintenant</a></div>
                                    <div class="seemore_bt"><a href="#">Voir Plus</a></div>
                                 </div>
                              </div>
                           </div>
                           <div class="col-lg-4 col-sm-4">
                              <div class="box_main">
                                 <h4 class="shirt_text">Lot de 6 paires de Des Boucles D'oreille</h4>
                                 <p class="price_text">Prix : <span style="color: #262626;">1 843 CFA</span></p>
                                 <div class="electronic_img"><img src="https://sn.jumia.is/unsafe/fit-in/300x300/filters:fill(white)/product/61/443811/1.jpg?1564"></div>
                                 <div class="btn_main">
                                    <div class="buy_bt"><a href="#">Acheter Maintenant</a></div>
                                    <div class="seemore_bt"><a href="#">Voir Plus</a></div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="carousel-item">
                  <div class="container">
                     <h1 class="fashion_taital">Mode & Beauté</h1>
                     <div class="fashion_section_2">
                        <div class="row">
                           <div class="col-lg-4 col-sm-4">
                              <div class="box_main">
                                 <h4 class="shirt_text">Fashion Montre à Quartz Fashion-Bleu</h4>
                                 <p class="price_text">Prix : <span style="color: #262626;">4 202 CFA</span></p>
                                 <div class="electronic_img"><img src="https://sn.jumia.is/unsafe/fit-in/300x300/filters:fill(white)/product/19/47979/1.jpg?3313
                                    "></div>
                                 <div class="btn_main">
                                    <div class="buy_bt"><a href="#">Acheter Maintenant</a></div>
                                    <div class="seemore_bt"><a href="#">Voir Plus</a></div>
                                 </div>
                              </div>
                           </div>
                           <div class="col-lg-4 col-sm-4">
                              <div class="box_main">
                                 <h4 class="shirt_text">Fashion Sac à Main Universel por filles</h4>
                                 <p class="price_text">Prix : <span style="color: #262626;">4 950 CFA</span></p>
                                 <div class="electronic_img"><img src=" https://sn.jumia.is/unsafe/fit-in/300x300/filters:fill(white)/product/61/569301/1.jpg?5131                                    "></div>
                                 <div class="btn_main">
                                    <div class="buy_bt"><a href="#">Acheter Maintenant</a></div>
                                    <div class="seemore_bt"><a href="#">Voir Plus</a></div>
                                 </div>
                              </div>
                           </div>
                           <div class="col-lg-4 col-sm-4">
                              <div class="box_main">
                                 <h4 class="shirt_text">Lot de 6 paires de Des Boucles D'oreille</h4>
                                 <p class="price_text">Prix : <span style="color: #262626;">1 843 CFA</span></p>
                                 <div class="electronic_img"><img src="https://sn.jumia.is/unsafe/fit-in/300x300/filters:fill(white)/product/61/443811/1.jpg?1564"></div>
                                 <div class="btn_main">
                                    <div class="buy_bt"><a href="#">Acheter Maintenant</a></div>
                                    <div class="seemore_bt"><a href="#">Voir Plus</a></div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="carousel-item">
                  <div class="container">
                     <h1 class="fashion_taital">Mode & Beauté</h1>
                     <div class="fashion_section_2">
                        <div class="row">
                           <div class="col-lg-4 col-sm-4">
                              <div class="box_main">
                                 <h4 class="shirt_text">Fashion Montre à Quartz Fashion-Bleu</h4>
                                 <p class="price_text">Prix : <span style="color: #262626;">4 202 CFA</span></p>
                                 <div class="electronic_img"><img src="https://sn.jumia.is/unsafe/fit-in/300x300/filters:fill(white)/product/19/47979/1.jpg?3313
                                    "></div>
                                 <div class="btn_main">
                                    <div class="buy_bt"><a href="#">Acheter Maintenant</a></div>
                                    <div class="seemore_bt"><a href="#">Voir Plus</a></div>
                                 </div>
                              </div>
                           </div>
                           <div class="col-lg-4 col-sm-4">
                              <div class="box_main">
                                 <h4 class="shirt_text">Fashion Sac à Main Universel por filles</h4>
                                 <p class="price_text">Prix : <span style="color: #262626;">4 950 CFA</span></p>
                                 <div class="electronic_img"><img src=" https://sn.jumia.is/unsafe/fit-in/300x300/filters:fill(white)/product/61/569301/1.jpg?5131                                    "></div>
                                 <div class="btn_main">
                                    <div class="buy_bt"><a href="#">Acheter Maintenant</a></div>
                                    <div class="seemore_bt"><a href="#">Voir Plus</a></div>
                                 </div>
                              </div>
                           </div>
                           <div class="col-lg-4 col-sm-4">
                              <div class="box_main">
                                 <h4 class="shirt_text">Lot de 6 paires de Des Boucles D'oreille</h4>
                                 <p class="price_text">Prix : <span style="color: #262626;">1 843 CFA</span></p>
                                 <div class="electronic_img"><img src="https://sn.jumia.is/unsafe/fit-in/300x300/filters:fill(white)/product/61/443811/1.jpg?1564"></div>
                                 <div class="btn_main">
                                    <div class="buy_bt"><a href="#">Acheter Maintenant</a></div>
                                    <div class="seemore_bt"><a href="#">Voir Plus</a></div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <a class="carousel-control-prev" href="#main_slider" role="button" data-slide="prev">
            <i class="fa fa-angle-left"></i>
            </a>
            <a class="carousel-control-next" href="#main_slider" role="button" data-slide="next">
            <i class="fa fa-angle-right"></i>
            </a>
         </div>
      </div>
      <!-- fashion section end -->
      <!-- chaussure section start -->
      <div class="fashion_section">
         <div id="electronic_main_slider" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
               <div class="carousel-item active">
                  <div class="container">
                     <h1 class="fashion_taital">Chaussures</h1>
                     <div class="fashion_section_2">
                        <div class="row">
                           <div class="col-lg-4 col-sm-4">
                              <div class="box_main">
                                 <h4 class="shirt_text">Asics</h4>
                                 <p class="price_text">Prix : <span style="color: #262626;">45 000 CFA</span></p>
                                 <div class="electronic_img"><img src="https://cdn.sarenza.cloud/_img/productsv4/0000267468/0000267468_651281_09_504x690.jpg?202307131543&v=20180830155342"></div>
                                 <div class="btn_main">
                                    <div class="buy_bt"><a href="#">Acheter Maintenant</a></div>
                                    <div class="seemore_bt"><a href="#">Voir Plus</a></div>
                                 </div>
                              </div>
                           </div>
                           <div class="col-lg-4 col-sm-4">
                              <div class="box_main">
                                 <h4 class="shirt_text">Skechers</h4>
                                 <p class="price_text">Prix : <span style="color: #262626;">65 000 CFA</span></p>
                                 <div class="electronic_img"><img src=" https://cdn.sarenza.cloud/_img/productsv4/0000304756/0000304756_648504_09_504x690.jpg?202306291643&v=20180830155342"></div>
                                 <div class="btn_main">
                                    <div class="buy_bt"><a href="#">Acheter Maintenant</a></div>
                                    <div class="seemore_bt"><a href="#">Voir Plus</a></div>
                                 </div>
                              </div>
                           </div>
                           <div class="col-lg-4 col-sm-4">
                              <div class="box_main">
                                 <h4 class="shirt_text">Reebok </h4>
                                 <p class="price_text">Prix : <span style="color: #262626;">39 000 CFA</span></p>
                                 <div class="electronic_img"><img src="https://cdn.sarenza.cloud/_img/productsv4/0000304022/0000304022_554314_09_504x690.jpg?202202091641&v=20180830155342"></div>
                                 <div class="btn_main">
                                    <div class="buy_bt"><a href="#">Acheter Maintenant</a></div>
                                    <div class="seemore_bt"><a href="#">Voir Plus</a></div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="carousel-item">
                  <div class="container">
                     <h1 class="fashion_taital">Chaussures</h1>
                     <div class="fashion_section_2">
                        <div class="row">
                           <div class="col-lg-4 col-sm-4">
                              <div class="box_main">
                                 <h4 class="shirt_text">Adidas Sportswear</h4>
                                 <p class="price_text">Prix : <span style="color: #262626;">39 000 CFA</span></p>
                                 <div class="electronic_img"><img src="https://cdn.sarenza.cloud/_img/productsv4/0000350189/0000350189_621072_09_504x690.jpg?202303270847&v=20180830155342"></div>
                                 <div class="btn_main">
                                    <div class="buy_bt"><a href="#">Acheter Maintenant</a></div>
                                    <div class="seemore_bt"><a href="#">Voir Plus</a></div>
                                 </div>
                              </div>
                           </div>
                           <div class="col-lg-4 col-sm-4">
                              <div class="box_main">
                                 <h4 class="shirt_text">New Balance</h4>
                                 <p class="price_text">Prix : <span style="color: #262626;">42 900 CFA</span></p>
                                 <div class="electronic_img"><img src=" https://cdn.sarenza.cloud/_img/productsv4/0000301606/0000301606_549682_09_504x690.jpg?202204081744&v=20180830155342"></div>
                                 <div class="btn_main">
                                    <div class="buy_bt"><a href="#">Acheter Maintenant</a></div>
                                    <div class="seemore_bt"><a href="#">Voir Plus</a></div>
                                 </div>
                              </div>
                           </div>
                           <div class="col-lg-4 col-sm-4">
                              <div class="box_main">
                                 <h4 class="shirt_text">Merrell </h4>
                                 <p class="price_text">Prix : <span style="color: #262626;">47 775 CFA</span></p>
                                 <div class="electronic_img"><img src="https://cdn.sarenza.cloud/_img/productsv4/0000230218/0000230218_432648_09_504x690.jpg?201912201625&v=20180830155342"></div>
                                 <div class="btn_main">
                                    <div class="buy_bt"><a href="#">Acheter Maintenant</a></div>
                                    <div class="seemore_bt"><a href="#">Voir Plus</a></div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="carousel-item">
                  <div class="container">
                     <h1 class="fashion_taital">Chaussures</h1>
                     <div class="fashion_section_2">
                        <div class="row">
                           <div class="col-lg-4 col-sm-4">
                              <div class="box_main">
                                 <h4 class="shirt_text">Under Armour</h4>
                                 <p class="price_text">Prix : <span style="color: #262626;">25 350 CFA</span></p>
                                 <div class="electronic_img"><img src="https://cdn.sarenza.cloud/_img/productsv4/0000276659/0000276659_507364_09_504x690.jpg?202104260942&v=20180830155342"></div>
                                 <div class="btn_main">
                                    <div class="buy_bt"><a href="#">Acheter Maintenant</a></div>
                                    <div class="seemore_bt"><a href="#">Voir Plus</a></div>
                                 </div>
                              </div>
                           </div>
                           <div class="col-lg-4 col-sm-4">
                              <div class="box_main">
                                 <h4 class="shirt_text">Globe</h4>
                                 <p class="price_text">Prix : <span style="color: #262626;">40 950 CFA</span></p>
                                 <div class="electronic_img"><img src="https://cdn.sarenza.cloud/_img/productsv4/0000034944/0000034944_607992_09_504x690.jpg?202303011519&v=20180830155342"></div>
                                 <div class="btn_main">
                                    <div class="buy_bt"><a href="#">Acheter Maintenant</a></div>
                                    <div class="seemore_bt"><a href="#">Voir Plus</a></div>
                                 </div>
                              </div>
                           </div>
                           <div class="col-lg-4 col-sm-4">
                              <div class="box_main">
                                 <h4 class="shirt_text"> Columbia  </h4>
                                 <p class="price_text">Prix : <span style="color: #262626;">50 050 CFA</span></p>
                                 <div class="electronic_img"><img src="https://cdn.sarenza.cloud/_img/productsv4/0000272692/0000272692_524295_09_504x690.jpg?202208171647&v=20180830155342"></div>
                                 <div class="btn_main">
                                    <div class="buy_bt"><a href="#">Acheter Maintenant</a></div>
                                    <div class="seemore_bt"><a href="#">Voir Plus</a></div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <a class="carousel-control-prev" href="#electronic_main_slider" role="button" data-slide="prev">
            <i class="fa fa-angle-left"></i>
            </a>
            <a class="carousel-control-next" href="#electronic_main_slider" role="button" data-slide="next">
            <i class="fa fa-angle-right"></i>
            </a>
         </div>
      </div>
      <!-- chaussure section end -->
      <!-- materiel   section start -->
      <div class="jewellery_section">
         <div id="jewellery_main_slider" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
               <div class="carousel-item active">
                  <div class="container">
                     <h1 class="fashion_taital">Matériels Sportifs</h1>
                     <div class="fashion_section_2">
                        <div class="row">
                           <div class="col-lg-4 col-sm-4">
                              <div class="box_main">
                                 <h4 class="shirt_text">BRASSIÈRE FITNESS CARDIO...</h4>
                                 <p class="price_text">Prix : <span style="color: #262626;">5 500 CFA</span></p>
                                 <div class="electronic_img"><img src="https://contents.mediadecathlon.com/p1705630/k$cc9c10f2fe19fc527485f3acb171e680/brassi%C3%A8re-fitness-cardio-training-femme-noire-100.jpg?&f=250x250"></div>
                                 <div class="btn_main">
                                    <div class="buy_bt"><a href="#">Acheter Maintenant</a></div>
                                    <div class="seemore_bt"><a href="#">Voir Plus</a></div>
                                 </div>
                              </div>
                           </div>
                           <div class="col-lg-4 col-sm-4">
                              <div class="box_main">
                                 <h4 class="shirt_text">BARRES À DIPS TRAINING...</h4>
                                 <p class="price_text">Prix : <span style="color: #262626;">70 000 CFA</span></p>
                                 <div class="electronic_img"><img src=" https://contents.mediadecathlon.com/p2061540/k$3a7baf518d9dd36f0fc125fe37739bbb/barres-%C3%A0-dips-training-station-100-ajustable.jpg?&f=250x250
                                    "></div>
                                 <div class="btn_main">
                                    <div class="buy_bt"><a href="#">Acheter Maintenant</a></div>
                                    <div class="seemore_bt"><a href="#">Voir Plus</a></div>
                                 </div>
                              </div>
                           </div>
                           <div class="col-lg-4 col-sm-4">
                              <div class="box_main">
                                 <h4 class="shirt_text">KIT PUMP BARRE 20 KG...</h4>
                                 <p class="price_text">Prix : <span style="color: #262626;">94 500 CFA</span></p>
                                 <div class="electronic_img"><img src="https://contents.mediadecathlon.com/p1313489/k$6e3da07c9e0209c31703d7f6c1cb774b/kit-pump-barre-20-kg-musculation.jpg?&f=250x250
                                    "></div>
                                 <div class="btn_main">
                                    <div class="buy_bt"><a href="#">Acheter Maintenant</a></div>
                                    <div class="seemore_bt"><a href="#">Voir Plus</a></div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div> 
                  </div>
               </div>
               <div class="carousel-item">
                  <div class="container">
                     <h1 class="fashion_taital">Matériels Sportifs</h1>
                     <div class="fashion_section_2">
                        <div class="row">
                           <div class="col-lg-4 col-sm-4">
                              <div class="box_main">
                                 <h4 class="shirt_text"> HALTERES TONEDUMBELL 2*1 KG VERT</h4>
                                 <p class="price_text">Prix : <span style="color: #262626;">6 000 CFA</span></p>
                                 <div class="electronic_img"><img src="https://contents.mediadecathlon.com/p1833694/k$7371d614fb7e289832b1d07789ad7559/halteres-tonedumbell-2*1-kg-vert.jpg?&f=250x250"></div>
                                 <div class="btn_main">
                                    <div class="buy_bt"><a href="#">Acheter Maintenant</a></div>
                                    <div class="seemore_bt"><a href="#">Voir Plus</a></div>
                                 </div>
                              </div>
                           </div>
                           <div class="col-lg-4 col-sm-4">
                              <div class="box_main">
                                 <h4 class="shirt_text">Ensemble maillot loisir + short fuseau</h4>
                                 <p class="price_text">Prix : <span style="color: #262626;">11 500 CFA</span></p>
                                 <div class="electronic_img"><img src="https://static.wixstatic.com/media/e17114_ad6ca37acf8344d59fb5f4c5b64dff11~mv2.jpg/v1/fill/w_283,h_283,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/e17114_ad6ca37acf8344d59fb5f4c5b64dff11~mv2.jpg"></div>
                                 <div class="btn_main">
                                    <div class="buy_bt"><a href="#">Acheter Maintenant</a></div>
                                    <div class="seemore_bt"><a href="#">Voir Plus</a></div>
                                 </div>
                              </div>
                           </div>
                           <div class="col-lg-4 col-sm-4">
                              <div class="box_main">
                                 <h4 class="shirt_text">Corde à sauter avec compteur</h4>
                                 <p class="price_text">Prix : <span style="color: #262626;">2 500 CFA</span></p>
                                 <div class="electronic_img"><img src="https://static.wixstatic.com/media/e17114_7d546f4abff945899e4dbe91bec7c622~mv2.jpg/v1/fill/w_283,h_283,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/e17114_7d546f4abff945899e4dbe91bec7c622~mv2.jpg"></div>
                                 <div class="btn_main">
                                    <div class="buy_bt"><a href="#">Acheter Maintenant</a></div>
                                    <div class="seemore_bt"><a href="#">Voir Plus</a></div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div> 
                  </div>
               </div>
               <div class="carousel-item">
                  <div class="container">
                     <h1 class="fashion_taital">Matériels Sportifs</h1>
                     <div class="fashion_section_2">
                        <div class="row">
                           <div class="col-lg-4 col-sm-4">
                              <div class="box_main">
                                 <h4 class="shirt_text">Roue abdominale étireure...</h4>
                                 <p class="price_text">Prix : <span style="color: #262626;">10 000 CFA</span></p>
                                 <div class="electronic_img"><img src=" https://static.wixstatic.com/media/e17114_55488cbd59e5420eaa079b4dd1b97bb8~mv2.jpg/v1/fill/w_283,h_283,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/e17114_55488cbd59e5420eaa079b4dd1b97bb8~mv2.jpg
                                    "></div>
                                 <div class="btn_main">
                                    <div class="buy_bt"><a href="#">Acheter Maintenant</a></div>
                                    <div class="seemore_bt"><a href="#">Voir Plus</a></div>
                                 </div>
                              </div>
                           </div>
                           <div class="col-lg-4 col-sm-4">
                              <div class="box_main">
                                 <h4 class="shirt_text">Masque anti-poussière</h4>
                                 <p class="price_text">Prix : <span style="color: #262626;">4 500 CFA</span></p>
                                 <div class="electronic_img"><img src="  https://static.wixstatic.com/media/e17114_d6056b0b2eec4f8eb47faed1218ee0b4~mv2.png/v1/fill/w_283,h_283,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/e17114_d6056b0b2eec4f8eb47faed1218ee0b4~mv2.png"></div>
                                 <div class="btn_main">
                                    <div class="buy_bt"><a href="#">Acheter Maintenant</a></div>
                                    <div class="seemore_bt"><a href="#">Voir Plus</a></div>
                                 </div>
                              </div>
                           </div>
                           <div class="col-lg-4 col-sm-4">
                              <div class="box_main">
                                 <h4 class="shirt_text">Smart fitness EMS 3 pièces</h4>
                                 <p class="price_text">Prix : <span style="color: #262626;">10 000 CFA</span></p>
                                 <div class="electronic_img"><img src="https://static.wixstatic.com/media/e17114_33b27012a1fb4ba7abd838b490cfc0c2~mv2.jpg/v1/fill/w_283,h_283,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/e17114_33b27012a1fb4ba7abd838b490cfc0c2~mv2.jpg
                                    "></div>
                                 <div class="btn_main">
                                    <div class="buy_bt"><a href="#">Acheter Maintenant</a></div>
                                    <div class="seemore_bt"><a href="#">Voir Plus</a></div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div> 
                  </div>
               </div>
            </div>
            <a class="carousel-control-prev" href="#jewellery_main_slider" role="button" data-slide="prev">
            <i class="fa fa-angle-left"></i>
            </a>
            <a class="carousel-control-next" href="#jewellery_main_slider" role="button" data-slide="next">
            <i class="fa fa-angle-right"></i>
            </a>
            <div class="loader_main">
               <div class="loader"></div>
            </div>
         </div>
      </div>
      <!-- jewellery  section end -->
      <!-- footer section start -->
      <div class="footer_section layout_padding">
         <div class="container">
            <div class="footer_logo"><a href="index.html"><img src="images/fa.png" style="width: 40%; margin-top: -80px;"></a></div>
            <div class="input_bt">
               <input type="text" class="mail_bt" placeholder="Your Email" name="Your Email">
               <span class="subscribe_bt" id="basic-addon2"><a href="#">Subscribe</a></span>
            </div>
            <div class="footer_menu">
               <ul>
                  <li><a href="#">Best Sellers</a></li>
                  <li><a href="#">Gift Ideas</a></li>
                  <li><a href="#">New Releases</a></li>
                  <li><a href="#">Today's Deals</a></li>
                  <li><a href="#">Customer Service</a></li>
               </ul>
            </div>
            <div class="location_main">Help Line  Number : <a href="#">+221 77 182 61 05</a></div>
         </div>
      </div>
      <!-- footer section end -->
      <!-- copyright section start -->
      <div class="copyright_section">
         <div class="container">
            <p class="copyright_text">© 2020 All Rights Reserved. Design by <a href="https://html.design">RAM TEAM</a></p>
         </div>
      </div>
      <!-- copyright section end -->
      <!-- Javascript files-->


      <script>

            function getCookie(cookieName) {
            const cookies = document.cookie.split(';');
            for (const cookie of cookies) {
               const [name, value] = cookie.trim().split('=');
               if (name === cookieName) {
                  return decodeURIComponent(value);
               }
            }
            return null; // Retourner null si le cookie n'a pas été trouvé
         }

         const jwtToken = getCookie('jwt');
            if (jwtToken) {
               // Afficher les informations appropriées pour l'utilisateur connecté
            
               const decodedToken = JSON.parse(atob(jwtToken.split('.')[1]));
               const username = decodedToken.username;
               const welcomeTitle = document.querySelector('#welcomeTitle');
               welcomeTitle.innerHTML = `Bienvenue, ${username} ! <br> <br> <br>`;
            } else {
               // Afficher le titre par défaut si l'utilisateur n'est pas connecté
               const welcomeTitle = document.querySelector('#welcomeTitle');
               welcomeTitle.innerHTML = 'Get start <br>Your favorite shopping';
            }
      </script>
      <script src="js/jquery.min.js"></script>
      <script src="js/popper.min.js"></script>
      <script src="js/bootstrap.bundle.min.js"></script>
      <script src="js/jquery-3.0.0.min.js"></script>
      <script src="js/plugin.js"></script>
      <!-- sidebar -->
      <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
      <script src="js/custom.js"></script>
      <script>
         function openNav() {
           document.getElementById("mySidenav").style.width = "250px";
         }
         
         function closeNav() {
           document.getElementById("mySidenav").style.width = "0";
         }
      </script>
      <script src="main.js"></script>
   </body>
</html>