<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>For All </title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- bootstrap css -->
      <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
      <!-- style css -->
      <link rel="stylesheet" type="text/css" href="css/style.css">
      <!-- Responsive-->
      <link rel="stylesheet" href="css/responsive.css">
      <!-- fevicon -->
      <link rel="icon" href="images/fevicon.png" type="image/gif" />
      <!-- Scrollbar Custom CSS -->
      <link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css">
      <!-- Tweaks for older IEs-->
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
      <!-- fonts -->
      <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
      <!-- font awesome -->
      <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
      <!--  -->
      <!-- owl stylesheets -->
      <link href="https://fonts.googleapis.com/css?family=Great+Vibes|Poppins:400,700&display=swap&subset=latin-ext" rel="stylesheet">
      <link rel="stylesheet" href="css/owl.carousel.min.css">
      <link rel="stylesoeet" href="css/owl.theme.default.min.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
   </head>
   <body>
      <!-- banner bg main start -->
      <div class="banner_bg_main">
         <!-- header top section start -->
         <!-- <div class="container">
            <div class="header_section_top">
               <div class="row">
                  <div class="col-sm-12">
                     <div class="custom_menu">
                        <ul>
                           <li><a href="#">Best Sellers</a></li>
                           <li><a href="#">Gift Ideas</a></li>
                           <li><a href="#">New Releases</a></li>
                           <li><a href="#">Today's Deals</a></li>
                           <li><a href="#">Customer Service</a></li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </div> -->
         <!-- header top section start -->
         <!-- logo section start -->
         <!-- <div class="logo_section">
            <div class="container">
               <div class="row">
                  <div class="col-sm-12">
                     <div class="logo"><a href="index.html"><img src="images/fa.png" style="width: 40%; margin-top: -80px; float: left; margin-left: -30px;"></a></div>
                  </div>
               </div>
            </div>
         </div> -->
         <!-- logo section end -->
         <!-- header section start -->
         <!-- <div class="header_section">
            <div class="container">
               <div class="containt_main">
                  <div id="mySidenav" class="sidenav">
                     <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                     <a href="index.html">Home</a>
                     <a href="mode.html">Mode & Beauté</a>
                     <a href="chaussure.html">Chaussures</a>
                     <a href="materiel.html">Matériels Sport</a>
                  </div>
                  <span class="toggle_icon" onclick="openNav()"><img src="images/toggle-icon.png"></span>
                  <div class="dropdown">
                     <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Toutes Catégories 
                     </button>
                     <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                     </div>
                  </div>
                  <div class="main"> -->
                     <!-- Another variation with a button -->
                     <!-- <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search this blog">
                        <div class="input-group-append">
                           <button class="btn btn-secondary" type="button" style="background-color: #f26522; border-color:#f26522 ">
                           <i class="fa fa-search"></i>
                           </button>
                        </div>
                     </div>
                  </div>
                  <div class="header_box">
                     <div class="lang_box ">
                        <a href="#" title="Language" class="nav-link" data-toggle="dropdown" aria-expanded="true">
                        <img src="images/flag-france.png" alt="flag" class="mr-2 " title="United Kingdom"> Français <i class="fa fa-angle-down ml-2" aria-hidden="true"></i>
                        </a>
                        <div class="dropdown-menu ">
                           <a href="#" class="dropdown-item">
                           <img src="images/flag-uk.png" class="mr-2" alt="flag">
                           Anglais
                           </a>
                        </div>
                     </div>
                     <div class="login_menu">
                        <ul>
                           <li><a href="#">
                              <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                              <span class="padding_10">Panier</span></a>
                           </li>
                           <li><a href="connexion.html">
                              <i class="fa fa-user" aria-hidden="true"></i>
                              <span class="padding_10">Connexion</span></a>
                           </li>
                           <li><a href="inscription.html">
                              <i class="fa fa-inscription" aria-hidden="true"></i>
                              <span class="padding_10">inscription</span></a>
                           </li>
                        </ul>
                     </div><br>
                  </div>
               </div>
            </div>
         </div>
         <div class="banner_section layout_padding">
            <div class="container">
               <div id="my_slider" class="carousel slide" data-ride="carousel">
                  <div class="carousel-inner">
                     <div class="carousel-item active">
                        <div class="row">
                           <div class="col-sm-12">
                              <h1 class="banner_taital">Inscrivez-vous<br>et profitez d'une réduction de 10% !</h1>
                           </div>
                        </div>
                     </div>
               </div>
            </div>
         </div> -->
         <!-- header section end -->
      </div>
      <div class="fashion_section">
         <section class="h-100 gradient-form">
            <h1 class="fashion_taital" style="margin-top: 30px;">Inscription</h1>
            <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-10">
            <div class="card rounded-3 text-black">
            <div class="row g-0">
            <div class="col-lg-6">
            <div class="card-body p-md-5 mx-md-4">
            <div class="text-center">
            <img src="./images/fa.png"style="width: 70%;" alt="logo">
            <h4 class="mt-1 mb-5 pb-1">For All</h4>
            </div>
               <form>
                  <p>Veuillez vous inscrire</p>
                  
                  
                  <div class="form-outline mb-4">
                     <input type="" id="username" class="form-control"  placeholder="Nom d'utilisateur"/>
                  </div>
                  <div class="form-outline mb-4">
                     <input type="password" id="password" class="form-control"  placeholder="Mot de passe "/>
                  </div>
                  
                  
                  <div class="text-center pt-1 mb-5 pb-1">
                  <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="submit">Inscription</button>
                  </div>
                  <div class="d-flex align-items-center justify-content-center pb-4">
                  <p class="mb-0 me-2">Vous avez déjà un compte ?</p>
                  
                  </div>
               </form>
            </div>
            </div>
            <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
            <div class="text-white px-3 py-4 p-md-5 mx-md-4">
            <h4 class="mb-4">We are more than just a company</h4>
            <p class="small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
            </div>
            </div>
            </div>
            </div>
            </div>
            </div>
         </section>
      </div>

      <!-- footer section start
      <div class="footer_section layout_padding">
      <div class="container">
         <div class="footer_logo"><a href="index.html"><img src="images/fa.png" style="width: 40%; margin-top: -80px;"></a></div>
         <div class="input_bt">
            <input type="text" class="mail_bt" placeholder="Your Email" name="Your Email">
            <span class="subscribe_bt" id="basic-addon2"><a href="#">Subscribe</a></span>
         </div>
         <div class="footer_menu">
            <ul>
               <li><a href="#">Best Sellers</a></li>
               <li><a href="#">Gift Ideas</a></li>
               <li><a href="#">New Releases</a></li>
               <li><a href="#">Today's Deals</a></li>
               <li><a href="#">Customer Service</a></li>
            </ul>
         </div>
         <div class="location_main">Help Line  Number : <a href="#">+221 77 182 61 05</a></div>
      </div>
   </div> -->
   <!-- footer section end -->
   <!-- copyright section start -->
   <div class="copyright_section">
      <div class="container">
         <p class="copyright_text">© 2020 All Rights Reserved. Design by <a href="https://html.design">RAM TEAM</a></p>
      </div>
   </div>
   <!-- copyright section end -->
   <!-- Javascript files-->
   <script>
            const form = document.querySelector('form')
            const username = document.querySelector('#username')
            const password = document.querySelector('#password')
            const display = document.querySelector('.error')
            form.addEventListener('submit', async (e) => {
               e.preventDefault()
               
               try {
               const res = await fetch('http://localhost:3000/api/auth/register', {
               method: 'POST',
               body: JSON.stringify({ username: username.value, password: password.value ,role:'admin'}),
               headers: { 'Content-Type': 'application/json' }
               })
               const data = await res.json()
               console.log(data)
               
            
               } catch (err) {
                  console.log(err.message)
                  }

               window.location.href = '/' 
               })



               
   </script>


   <script src="js/jquery.min.js"></script>
   <script src="js/popper.min.js"></script>
   <script src="js/bootstrap.bundle.min.js"></script>
   <script src="js/jquery-3.0.0.min.js"></script>
   <script src="js/plugin.js"></script>
   <!-- sidebar -->
   <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
   <script src="js/custom.js"></script>
   <script>
      function openNav() {
         document.getElementById("mySidenav").style.width = "250px";
      }
      
      function closeNav() {
         document.getElementById("mySidenav").style.width = "0";
      }
   </script>
   <script src="main.js"></script>
  </body>
</html>